@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

#wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carres {
    display: flex;
    gap: 10px;
    width: 800px;
}
.carre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}
.bleu {
    background-color: rgb(8, 84, 134) ;
}
.rouge {
    background-color: red ;
}
.vert {
   
    background-color: green ;
}
.jaune {
   
    background-color: rgb(138, 138, 7) ;
}

.carreSolo {
    width: 800px;
    margin-top: 20px;
} 
#noir {
    background-color: black;
    color: #fff;
    margin: auto;
}

.text {
    padding: 30px;
    font-size: 10px;
    color: rgb(145, 145, 145);
    font-weight: 300;
}

