@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    display: flex;
  }
  .carre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 5px;
    cursor: pointer;
  }
  .text {
    font-size: 20px;
    color: white;
    font-weight: 300;
  }
  .carreclique {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 180px;
    height: 180px;
    transform: rotate(360deg);
    transition: 1s;
    cursor: pointer;
  }

  
  
  